anaconda-navigator
anaconda-project
astropy
autopep8
bcrypt
bitarray
bkcharts
boto3
bottleneck
brotlipy
colorama
conda-build
conda-repo-cli
conda-token
conda-verify
cython
cytoolz
datashader
distributed
flake8
flask
gensim
gmpy2
h5py
hvplot
imagecodecs
intake
jdcal
jupyter
jupyterlab
lz4
mkl-fft
mkl-random
mkl-service
mock
munkres
navigator-updater
nltk
nose
olefile
openpyxl
pep8
pip-chill
plotly-express
pycurl
pydocstyle
pyhamcrest
pyjwt
pyodbc
pyqt5-sip
pysocks
pytest
python-snappy
rope
ruamel-yaml-conda
scikit-image
scikit-learn-intelex
scrapy
seaborn
sip
sortedcollections
spyder
sqlalchemy
streamlit
sympy
tables
tabulate
tbb
unidecode
whatthepatch
xlrd
xlsxwriter
xlwings
yapf
